name: CI

on:
  push:
    branches-ignore:
      - 'wip-*'
  pull_request:
    branches-ignore:
      - 'wip-*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: CI  
    strategy:
      matrix:
        node-version: [20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        if: ${{ !env.ACT }}  # Skip checkout when running with 'act'
        with:
          # Fetch all history
          fetch-depth: 0
          ref: ${{ github.head_ref || github.ref }}

      # Lint codebase
      - name: Lint codebase
        uses: github/super-linter@v6
        continue-on-error: true
        env:
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: ${{ github.ref_name }}  # Use current branch as default
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Ensure environments directory exists
        run: mkdir -p backend/environments

      - name: Create backend .env file
        if: ${{ !env.ACT }}
        run: |
          echo "MONGO_URI=${{ secrets.TEST_DB_CONNECTION_STRING }}" > backend/environments/.env.test
      

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        if: ${{ !env.ACT }}  # Skip checkout when running with 'act'
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json

      - name: Use Node.js ${{ matrix.node-version }} (local)
        uses: actions/setup-node@v4
        if: ${{ env.ACT }}  # Run without cache when using act
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Install backend dependencies
        run: |
          rm -rf node_modules package-lock.json
          npm install
        working-directory: backend

      - name: Build backend
        run: npm run build --if-present
        working-directory: backend

      - name: Test backend
        run: npm test
        working-directory: backend

      # # Install backend dependencies
      # - name: Install backend dependencies
      #   run: |
      #     cd backend
      #     npm install

      # # Run backend unit tests
      # - name: Run backend unit tests
      #   run: |
      #     cd backend
      #     npm test

      # # Install frontend dependencies
      # - name: Install frontend dependencies
      #   run: |
      #     cd frontend
      #     npm install

      # # Run frontend unit tests
      # - name: Run frontend unit tests
      #   run: |
      #     cd frontend
      #     npm test

      # # (Optional) Build frontend
      # - name: Build frontend
      #   run: |
      #     cd frontend
      #     npm run build

      # # (Optional) Build backend
      # - name: Build backend
      #   run: |
      #     cd backend
      #     npm run build

      # # (Optional) Upload build artifacts
      # - name: Upload production build
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: react-build
      #     path: frontend/build/

      # This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs



